// Create a link to the audio file of the podcast
// plus number of downloads
if episode.downloadLink
  // Download script with variables containing counter information 
  script(type='text/javascript',src=episode.downloadCounterLink)
  strong
    a(href=episode.downloadLink,title="Clique com o botão direito e 'Salvar link como...' para baixar") Ouvir / Baixar
    script(type='text/javascript').
      try {
        if(dsCounter < 0) {
          throw 'error';
        }
        document.write(' - Baixado ' + dsCounter + ' vezes');
      }
      catch(e) {
        document.write(' - Número de downloads temporariamente indisponível');
      }    
