ul.social_buttons
  li 
    | <div class="fb-like" data-href="!{episode.linkToArticle}" data-layout="button_count" data-action="like" data-share="true"></div>
  li 
    | <a href="https://twitter.com/share" class="twitter-share-button" data-url="!{episode.linkToArticle}" data-via="acidocetico" data-lang="pt">Tweetar</a>
  li.google_plus_button
    | <div class="g-plusone" data-size="medium" annotation="bubble" data-width="300" data-href="!{episode.linkToArticle}"></div>