body {
  width: 1000px;
  margin: 0px auto;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.header_and_footer_bg {
	background-color: black;
}

.spacer {
	height: 10px;
}

#page_title {
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 20px;
	color: white;
}

#page_title h1 {
	margin: 0px;
}

#menu {
	padding: 5px;
	padding-left: 20px;
}

#page_footer {
	height: 40px;
}

.menuitem {
	margin: 3px;
	padding: 3px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: black;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: white;
}

.menuitem a {
	/*text-decoration: none;*/
	color: white;
}

/*
.menuitem:hover {
	background-color: #F5E9D2;
}

.menuitem a:hover {
	color: black;
}
*/

#mid_section {
  width: 100%;
  overflow: auto;
}

#mid_section tr td {
	height: 100%;
}

#content_wrapper {
  width: 800px;
}

#side_links {
	float: right;
	width: 190px;
	min-height: 300px;
	
	border-top-color: whitesmoke;
	border-top-style: solid;
	border-top-width: 1px;
}

.side_links_text {
	color: gray;
}

.side_links_title {
	padding-left: 20px;
	margin-bottom: 5px;
}

.side_links_list {
	list-style-type: none;
	margin-top: 5px;
  margin-bottom: 5px;
  padding-bottom: 10px;
  border-bottom-color: whitesmoke;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

.side_links_list li {
  padding-bottom: 2px;	
}

.side_links_list li a {
  color: gray;
}

.Episode {
	border-radius: 10px;
	padding: 20px;
	background-color: #F5E9D2;
}

.Episode_spacer {
	height: 10px;
	background-color: inherit;
}

/*
.episodeImage {
	border-radius: 10px;
}
*/
