body {
  width: 1000px;
  margin: 0px auto;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.header_and_footer_bg {
	background-color: black;
}

.spacer {
	height: 10px;
}

#front_logo {
	float: right;
}

#front_logo img {
	height: 140px;
	border-style: solid;
	border-width: 10px;
	border-color: white;
}

#page_title {
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 20px;
	color: white;
}

#page_title h1 {
	margin: 0px;
}

#menu {
	padding: 5px;
	padding-left: 20px;
}

#menu_social {
	float: right;
}

.social_buttons {
	padding: 0px;
	margin: 0px;
}

.social_buttons li {
	display: inline;
}

/* Center twitter buttons */
.twitter-share-button {
	position: relative;
	top: 3px;
	/*This is so that the button does not leave too much blank.
	it is a problem though, as it will get chopped if we have more
	than 999 shares*/
	width: 101px !important;
}

/* Center g+ buttons */
.google_plus_button {
	position: relative;
	top: 3px;
}

#page_footer {
	height: 40px;
}

.menuitem {
	margin: 3px;
	padding: 3px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: black;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: white;
}

.menuitem a {
	color: white;
}

#mid_section {
  width: 100%;
  overflow: auto;
}

#mid_section tr td {
	height: 100%;
}

#content_wrapper {
  width: 800px;
}

#side_links {
	float: right;
	width: 190px;
	min-height: 300px;
	
	border-top-color: whitesmoke;
	border-top-style: solid;
	border-top-width: 1px;
}

.side_links_text {
	color: gray;
}

.side_links_title {
	padding-left: 20px;
	margin-bottom: 5px;
}

.side_links_list {
	list-style-type: none;
	margin-top: 5px;
  margin-bottom: 5px;
  padding-bottom: 10px;
  border-bottom-color: whitesmoke;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

.side_links_list li {
  padding-bottom: 2px;	
}

.side_links_list li a {
  color: gray;
}

.Episode {
	border-radius: 10px;
	padding: 20px;
	background-color: #F5E9D2;
}

.Episode_spacer {
	height: 10px;
	background-color: inherit;
}

/*
.episodeImage {
	border-radius: 10px;
}
*/
